<hr>
<section class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3">
            <h4>Ubicación</h4>
            <p>
                Charcas 3034<br>
                Ciudad de Buenos Aires<br>
                <a href="https://goo.gl/maps/cpWnbCqvtik" target="_blank">Ver ubicación en Google Maps</a>
            </p>
        </div>

        <div class="col-3">
            <h4>Contacto</h4>
            <p>
                (011) 4821 - 5268<br>
                secretaria@institutovocacional.org.ar<br>
            </p>
        </div>

        <div class="col-3">
            <h4>Información Útil</h4>
            <p>
                <a routerLink="/admision">Inscripción 2020</a><br>
                <a routerLink="/contacto">Contacto</a><br>
                <a routerLink="/historia">Historia</a>
            </p>
        </div>

        <div class="col-3">
            <h4>Redes Sociales</h4>
            <a href="https://www.facebook.com/vocacional.iva" target="_blank">Facebook</a><br>
            <a href="https://www.instagram.com/instituto.vocacional/" target="_blank">Instagram</a>
        </div>

    </div>
</section>