<!-- JUMBOTRON -->
<div class="jumbotron mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <h1 class="display-4"><strong>Contacto</strong></h1>
    </div>
</div>

<!-- CUERPO -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="row mt-5 mb-5">
                <div class="col-md-4">
                    <h4>Ubicación</h4>
                    <p>
                        Charcas 3034
                        <br>
                        Ciudad de Buenos Aires
                    </p>
                </div>

                <div class="col-md-4">
                    <h4>Teléfonos</h4>
                    <p>
                        Tel: (011) 4821 - 5286 / 2412
                        <br>
                        Fax: (011) 4821 - 2412
                    </p>
                </div>

                <div class="col-md-4">
                    <h4>Emails</h4>
                    <p>
                        secretaria@institutovocacional.org.ar
                        <br>
                        administracion@institutovocacional.org.ar
                    </p>
                </div>
            </div>
                
            <div class="col-md-12 text-center mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13137.731222081342!2d-58.4089096!3d-34.5932157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9fb7ccbc23144fe!2sInstituto+Incorporado+Vocacional+Arg.+Scl.!5e0!3m2!1ses-419!2sar!4v1563841563816!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>

        </div>
    </div>
</section>