<!-- JUMBOTRON -->
<div class="jumbotron mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <h1 class="display-4"><strong>Proyecto Solidario</strong></h1>
    </div>
</div>

<!-- CUERPO -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="col-md-2">
                <br><br>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <blockquote class="blockquote">
                          <p class="mb-0"><strong>Con motivo del nuevo año lectivo 2012, la Prof. María Gabriela Ivaldi junto al Prof. Oscar Vadillo y todo docente que quiera sumarse al proyecto, que desearíamos sea de carácter institucional, con lo experimentado en años anteriores, creemos que es de suma importancia para la integración de los alumnos a la institución.</strong></p>
                        </blockquote>
                            <p class="text-justify">
                               
                                </p><h3>Acciones a realizar:</h3>
                                <br>
                                <ol>
                                <li>Tareas para los alumnos: de promoción, los alumnos junto con plástica o computación harán volantes y/o carteles para campaña de Chaco o compaña de tapitas para la Funfación Debra o Campaña Escuelita Rural.</li>
                                <li>Reparación de bicicletas</li>
                                <li>Confección de tarjetas para los alumnos ahijados.</li>
                                <li>Con la asignatura lengua se podrían hacer cartas para los ahijados.</li>
                               <li> En computación crear un blog de difusión.</li>
                                <li>En Historia y Geografía trabajo sobre la historia dl lugar y sus características que se visitará o con la que se colaborará.</li>
                                </ol>
                                
                                Se ha observado en años anteriores, que alumnos con bajo rendimiento, se han sentido importantes dentro de la labor solidaria cambiando significativamente. 
                                <br><br>
                                Creemos que es muy importante para dar un impulso para el turno tarde, que ellos sean los motores e incorporen a los alumnos de Turno Mañana y Noche. 
                                <br><br>
                                Publicación de la tarea
                                Blog Ayudemos a Igualar: www.ayudemosaigualar.blogspot.com Creado por la Prof. Ivaldi para difundirla obra con Escuelita Rural... te ayudo y el I.V.A. años 2010 / 2011. Facebook: Escualita Rural... te ayudo Fundación Debra: www.debraargentina.org/info/
                                <ol>
                                Publicación de la tarea realizada en la página de la Escuela.
                                <li>Organizar la noche de los talentos para recaudar alimentos no perecederos.</li>
                                <li>Invitar a los padres a viajar con sus hijos.</li>
                                <li>Incorporar cualquier otra acción solidaria para otra institución.</li>
                                <li> Y toda otra idea que tengan los miembros de la institución.</li>
                                </ol>
                                
                               <br>
                                <h3>Ayuda Aborigen Argentina</h3>
                                <br>
                                Ayuda Aborigen Argentina es una organización sin fines de lucro, formada por una familia que, junto a un grupo de docentes y personas de diferentes ciudades de Buenos Aires y Santa Fé, y con la colaboración de varias instituciones educativas, busca ayudar a las comunidades aborígenes del Norte del País, que viven en situaciones de extrema indigencia. En este grupo no nos interesa ningún tipo de inversión partidiaria, ni ideologías políticas. Sólo fomentar la solidaridad.
                                
                                <ol>
                                <li>Poner en práctica un VALOR fundamental: la SOLIDARIDAD.</li>
                               <li> Dar a conocer el proyecto a toda la comunidad educativa.</li>
                                <li>Generar un espacio en el que los alumnos puedan tomar conciencia de las problemáticas sociales.</li>
                                <li>Sumar esfuerzos para optimizar los resultados del proyecto.</li>
                                <li>Generar un proceso de continuidad respecto al proyecto solidario.</li>
                                <li>Colaborar con los aborígenes del Chaco.</li>
                                <li>Participar en una campaña solidaria</li>
                                </ol>
                                
                                Este proyecto educativo no sólo busca paliar las necesidades de las comunidades Aborígenes del Norte, sino que trata de valorar la educación intercultural para una mejor integración social, revalorizando la identidad nacional, asumiendo que esta formación redundará en mejores relaciones para toda la sociedad y no solamente para representantes de los pueblos originarios. 
                                <br><br>
                                Vivimos insertos en una comunidad, que as u vez constituimos y nos constituye, en la que el individualismo, la insensibilidad, la competencia, el aislamiento, la incomprensión, y la falta de participación afloran día a día, en detrimento de los valores y conductas pro-sociales. 
                                <br><br>
                                Buscamos propiciar cambios ante esta realidad. Como educadores, nos proponemos recuperar y poner en práctica un valor fundamental: la solidaridad, que conlleva a afianzar otros valores, como la amistad, el compañerismo, la sensibilidad por el más necesitado, todos ellos constitutivos de la esencia humana.
                                <br><br>
                                <h3>Múltiples son las actividades que se realizan:</h3>
                                <br>
                                Difusión de la situación de nuestros pueblos originarios, sus costumbres y formas de subsistencia.<br>
                                Recolección de calzado, alimentos, útiles escolares, libros, colchones, frazadas, remedios, etcétera.<br>
                                Viajar hasta El Impenetrable Chaqueño, lugar donde habitan dichos aborígenes y, una vez allí, llegar a los distintos parajes para hacer entrega en mano de las donaciones. Asimismo, se entregan útiles escolares en escuelas de la Zona y remedios y material sanitario en salitas de primeros auxilios.<br>
                                Difundir en la comunidad educativa la realización de la campaña solidaria y su importancia a través de afiches y documentales.<br>
                                Realizar juegos didácticos para ser entregados a los niños.

                            <p></p>
                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>