<!-- JUMBOTRON -->
<div class="jumbotron  mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <h1 class="display-4"><strong>Admisión</strong></h1>
    </div>
</div>

<!-- CUERPO -->
<section>   
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            
            <div class="col-md-12">
                <h2 class="text-center">Documentación y Requisitos para Matriculación</h2>
            </div>
            
            <div class="col-md-2">
                <br><br>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                            <p class="text-justify">
                                </p><ol>
                                    <li>Solicitud de Matricula debidamente confeccionada</li>
                                    <li>Fotocopia de DNI (hoja 1 y2)</li>
                                    <li>Fotocopia simple de la partida de nacimiento</li>
                                    <li>Fotocopia de la Libreta Sanitaria y/o certificado de vacuna actualizado</li>
                                    <li>Fotografía 4x4 (dos)</li>
                                    <li>Abonar Matrícula Anual</li>
                                   <li> Certificado firmado por Profesional Médico que autorice la realización de actividades físicas (informarse en Secretaría)</li>
                                    <li>Certificado de libre deuda (para alumnos que provengan de colegios privados)</li>
                                    <br>
                                    <h4>Alumnos ingresantes a 1er. Año que procedan de escuelas primarias</h4>
                                    <li>Certificado Original de 7º Grado</li>
                                    
                                    <br>
                                    <h4>Alumnos que proceden de otros establecimientos secundarios</h4>
                                    <li>Constancia de documentos o certificado de analíticos de estudios.</li>
                                </ol>
                            <p></p>
                            <br><br>
                            <div class="col-md-12 text-center">
                            <a routerLink="/contacto"><button type="button" class="btn btn-primary text-center">CLICK AQUÍ PARA CONTACTAR AL INSTITUTO</button></a>
                            </div>
                            <br><br><br>
                            <h2>Uniformes</h2>
                            <h3>Uso obligatorio del uniforme</h3>
                            <p class="text-justify">
                                
                                El uniforme es único y obligatorio. No se admitirán variantes a las especificadas anteriormente. En ningún caso los alumnos podrán combinar la vestimenta de Educación Física con las indicadas para las clases. Se permitirá asistir a clase con la indumentaria de Educación Física cuando el alumno no tuviera tiempo para cambiar de uniforme en su domicilio. 
                                <br><br>
                                No estará permitido llevar debajo de la remera del Instituto otra remera de color, o blanca con inscripciones. Se recuerda que el uniforme identifica y representa a los alumnos, por lo tanto, mientras estos lo usen no podrán ingresar o permanecer en salas de juegos, tener actitudes indecorosas que afecten el prestigio del Instituto, ni fumar, ni consumir bebidas alcohólicas.
                                <br><br>
                                Los períodos de duración de las épocas serán establecidos por el Instituto de acuerdo a las condiciones climáticas imperantes. 
                                <br><br>
                                Se recomienda que todas las prendas y útiles estén debidamente individualizados con el nombre y apellido del alumno/a para los casos de pérdidas
                                <br><br>
                                El uniforme descripto, podrá adquirirse en "Cassa Arturo" - Güemes 3302 (esq. Cnel. Díaz) - Tel.: 4822-0719
                                <br>
                                <br>
                               
                                        </p><h4>Mujeres:</h4>
                                        <strong>Verano:</strong><br>
                                        Pantalón de jean azul<br>
                                        Chomba blanca con el distintivo del Instituto<br>
                                        Zapatos negros o marrones, zapatillas negras<br>
                                        Medias azules.<br>
                                        <br>
                                        <strong>Invierno:</strong><br>
                                        Pantalón de jean azul<br>
                                        Sweater azul liso con vivos rojos escote en "V" <br>
                                        Medias azules<br>
                                        Zapatos negros o marron, zapatillas negras <br>
                                        Camperón azul o negro sin inscripciones.
                                        <br>
                                        <br>
                                
                                        <h4>Varones:</h4>
                                        <strong>Verano:</strong><br>
                                        Pantalón de jean azul<br>
                                        Chomba blanca con el distintivo del Instituto<br>
                                        Zapatos negros o marrones, zapatillas negras<br>
                                        Medias azules.<br>
                                        <br>
                                        <strong>Invierno:</strong><br>
                                        Pantalón de jean azul<br>
                                        Sweater azul liso con vivos rojos escote en "V" <br>
                                        Medias azules<br>
                                        Zapatos negros o marron, zapatillas negras <br>
                                        Camperón azul o negro sin inscripciones.
                                 <p></p>

                            <br>
                            <br>
                    </div>
                        <div class="col-md-12 text-center">
                            <a routerLink="/contacto"><button type="button" class="btn btn-primary text-center">CLICK AQUÍ PARA CONTACTAR AL INSTITUTO</button></a>
                            </div>

                </div>
            
            
            </div>
            
            <div class="col-md-2">
                <br><br>
            </div>
        </div>
    </div>

</section>