<nav class="navbar site header navbar-expand-lg bg-blue fixed-top navbar-expand-md">
    <div class="container">
        <a routerLink="/app-inicio"><img src="assets/img/logo-iva.png" width="50%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
               <span class="text-white" style="text-decoration: overline;">menu</span>
        </button>
        
        <div class="navbar-collapse collapse float-right navbar-text" id="navbarsExample07">
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/inicio" routerLinkActive="active"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/admision" routerLinkActive="active"><strong>Admisión</strong></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-white" routerLink="/contacto" routerLinkActive="active"><strong>Contacto</strong></a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/valores-y-convivencia" routerLinkActive="active"><strong>Valores y Convivencia</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/historia" routerLinkActive="active"><strong>Historia</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/proyecto-solidario" routerLinkActive="active"><strong>Proyecto Solidario</strong></a>
                    </li>
                </ul>
            </ul>
        </div>	
    </div>
    </nav>