<!-- JUMBOTRON -->
<div class="jumbotron mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <h1 class="display-4"><strong>Historia</strong></h1>
    </div>
</div>

<!-- CUERPO -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="col-md-2">
                <br><br>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                            <p class="text-justify">
                            Hace más de setenta años atrás, en 1941, nacía el Instituto Vocacional Argentino, como iniciativa de un grupo de varios profesores de la Escuela Industrial Otto Krausse. Entre ellos se encontraban Francisco González Zimmermann, Lucero Olmedo y Martín Aníbal Galíndez, quien fue el primer director. <br><br>

Un médico tuvo a cargo la organización de un gabinete de orientación vocacional, el cual dio el nombre al Instituto, que ofrecía como opciones el Plan Comercial y el Bachillerato. Dos años más tarde se fusionó con la Academia Carlos Pellegrini y comenzó a funcionar la modalidad industrial, un jardín de infantes y ayuda escolar primaria. Por ese entonces, los alumnos donaron la Bandera de Ceremonias, la que aún se conserva en las vitrinas del Establecimiento. 
<br><br>
Al promediar la década del 40 compraron el Instituto Carlos Basavilbaso y Max Boucher, quienes en 1946 lo venden a Juan Ángel López Basavilbaso –sobrino del anterior dueño- y Ricardo Sebastián Lena. 
<br><br>
El año 1948 marcó un hito en la historia de la institución ya que el 14 de febrero de ese año se produjo la fundación de la Cooperativa, actual propietaria, y conjuntamente se obtuvo el Aporte Estatal. 

Luego de un periplo de algo más de veinte años por distintos domicilios –como el de la Calle Entre Ríos, en los comienzos, Rivera Indarte y Avenida Santa Fe, frente a Plaza Falucho- el Instituto se estableció en su actual sede de la calle Charcas 3034, utilizando un edificio construido sobre terrenos que habían pertenecido al General Justo José de Urquiza.
<br><br>
El presente encuentra al Instituto Vocacional Argentino en un proceso de franca expansión pedagógica y educacional, fruto de la acción cooperativa y del trabajo encarado con seriedad, idoneidad y amor.
<br><br>
En el mes de enero del año 1991 comenzó  la ejecución de un proyecto de ampliación y remodelación que, al igual que el realizado veinte años antes, y que tuvo como consecuencias el gimnasio cubierto, alcanzó el objetivo principal planteado desde el comienzo: la posibilidad de ofrecer al alumnado las comodidades y los elementos indispensables para llevar a cabo el proceso educativo moderno.

Actualmente el Establecimiento cuenta con capacidad suficiente para brindar a cada alumno las comodidades características de una moderna infraestructura educacional, un renovado laboratorio de física, química y merceología y dos aulas de informática con acceso a Internet, una completa biblioteca y patios de recreo totalmente techados y climatizados, entre otras comodidades.
<br><br>
El progreso alcanzado en el ámbito pedagógico se encuentra reflejado en la permanente actualización del cuerpo docente y en la búsqueda incesante de nuevos métodos para poner en funcionamiento el proceso enseñanza aprendizaje; hechos que se traducen en la introducción de nuevas tecnologías, materiales didácticos de última generación, tres turnos con cursos mixtos que trabajan a pleno y en el desarrollo de actividades tales como: computación, clases de apoyo, cursos de ambientación y preparación para ingresantes en primer año y gabinete psicológico.
<br><br>
Hoy, la comunidad educativa del Instituto Vocacional Argentino se encuentra más que nunca concentrada en el desarrollo de sus potencialidades, estimulada por el incesante anhelo de proyectarse en el futuro, con objetivos renovados y enfocando su actividad en la búsqueda permanente de la excelencia y la inclusión.

                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>