<!-- JUMBOTRON -->
<div class="jumbotron mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <h1 class="display-4"><strong>Valores y Convivencia</strong></h1>
    </div>
</div>

<!-- CUERPO -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="col-md-2">
                <br><br>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                            <p class="text-justify">
                                
                               </p><h2>Objetivo Fundamental</h2>
                                <br>
                                La formación de personas responsables, participativas y críticas dentro de las funciones esenciales de la vida.
                                <br><br>
                                Promover actitudes de cuidado hacia el patrimonio escolar.
                                Promover la ética, la convivencia democrática con los sistemas de normas y valores que imperan en la sociedad.
                                Promover actitudes generadoras de vida, previniendo conductas que atenten contra el bienestar físicos y mental.
                                Promover conductas solidarias hacia Instituciones o personas que lo necesiten.
                                Compromisos que la comunidad educativa se propone asumir
                                <br><br>
                                <ol>
                                <li>Paz</li>
                                <li>Solidaridad</li>
                                <li>Justicia</li>
                                <li>Responsabilidad individual y social</li>
                                <li>Defensa de los Derechos Humanos</li>
                                <li>Tolerancia</li>
                                <li>Ejercicio de la libertad responsable</li>
                                </ol>
                                 <br> <br>
                                <h3>Actividades de la Comunidad Educativa</h3>
                                 <br> <br>
                                Ser ecuánime en el juicio.
                                Dar o permitir el derecho a la defensa, para que los actores de una situación conflictiva tengan la oportunidad de dar su versión y, si hubo falta, reconocerla, reflexionar sobre el daño ocasionado y hacerse cargo de la reparación.
                                <br><br>
                                Promover la reparación del daño
                                Valorizar el reconocimiento del error
                                Fijar una gradualidad y personalización en la aplicación de las sanciones de acuerdo con la edad y el nivel de madurez.
                                <br><br>
                                Privilegiar el diálogo como estrategia para la resolución de conflictos y corección de conductas.
                                Privilegiar estrategias par ael logro de la contención de los niños y jóvenes de la comunidad, en su sentido más amplio atendiendo a lo más desprotegidos.
                                Contemplar el apoyo de profesionales especializados.
                                 <br> <br>
                                <h3>Canales para su cumplimiento</h3>
                                 <br> <br>
                                <ol>
                               <li> Creación de espacios de reflexión y participación para el cuerpo docente</li>
                                <li>Sistema de tutorías</li>
                                <li>Mecanismos de mediación</li>
                                <li>Ambitos de diálogos entre padres, docentes y autoridades.</li>
                                <li>Cuerpos colegiados</li>
                                <br>
                                
                                <li>Consejo Consultivo</li>
                                <li>Gabinete de Psicología</li>
                                <li>Cuerpo de Profesores</li>
                                <li>Funciones de estos cuerpos</li>
                               <li> Insertar normas de convivencia</li>
                               <br>
                               <li> Plantear medidas para el caso de su incumplimiento</li>
                               <li> Plantear problemáticas propias del curso</li>
                               <li> Participar en situaciones en que sea aconsejable instancias de negociación</li>
                                <li>Programar actividades escolares y extra-escolares</li>
                                <li>Acordar actividades solidarias y de colaboración</li>
</ol>                                   

                        <p></p>
                        
                    </div>


                </div>
            
            </div>
        </div>
    </div>
</section>