<!-- JUMBOTRON -->
<div class="jumbotron mt-auto mt-5 rounded-0 bg-blue jumbotron-bg" style="background-image: url('assets/img/instituto-vocacional-argentino.webp'); background-size: cover;">

    <div class="container p-lg-5 mx-auto my-5 text-white text-center">
        <br>
        <br>
        <br>
        <h1 class="display-4"><strong>Instituto Vocacional Argentino</strong></h1>
        <h3>Secundario Privado Laico</h3>
    </div>
</div>

<!-- CUERPO PRINCIPAL -->
<!-- PLANES DE ESTUDIO -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h1 class="display-4">Planes de estudio</h1>
                <br><br>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="iva-heading">Turno Mañana</h4>
                        <p>
                            Bachillerato Cs. Sociales y Humanidades.<br>
                            Bachillerato en Administración de Empresas.<br>
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h4 class="iva-heading">Turno Tarde</h4>
                        <p>
                            Bachillerato Cs. Sociales y Humanidades.<br>
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h4 class="iva-heading">Turno Noche</h4>
                        <p>
                            Plan de 4 años.<br>
                            Perito Mercantil Auxiliar Contable.<br>
                            <br>
                            <br>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h4 class="iva-heading">Turno Noche</h4>
                        <p>
                            Plan 5 cuatrimestres<br>
                            Bachillerato en Administración de Empresas.<br>
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/admision"><button type="button" class="btn btn-primary">Inscripciones click aquí →</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<!-- INTRO HISTORIA -->
<section>
    <div class="container p-lg-5 mx-auto my-5" style="width: 80%;">
        <div class="row align-items-center">
            <div class="col-md-4">
                <h1 class="display-4">Fundado en 1941</h1>
                <br><br>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                            <p class="text-justify">
                            Hace más de setenta años atrás, en 1941, nacía el Instituto Vocacional Argentino, como iniciativa de un grupo de varios profesores de la Escuela Industrial Otto Krausse. Entre ellos se encontraban Francisco González Zimmermann, Lucero Olmedo y Martín Aníbal Galíndez, quien fue el primer director. 
                            <br>
                            <br>
                            Un médico tuvo a cargo la organización de un gabinete de orientación vocacional, el cual dio el nombre al Instituto, que ofrecía como opciones el Plan Comercial y el Bachillerato. Dos años más tarde se fusionó con la Academia Carlos Pellegrini y comenzó a funcionar la modalidad industrial, un jardín de infantes y ayuda escolar primaria. Por ese entonces, los alumnos donaron la Bandera de Ceremonias, la que aún se conserva en las vitrinas del Establecimiento.
                            
                        </p>
                        <a routerLink="/historia"><button type="button" class="btn btn-outline-primary">Seguir leyendo →</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>